html {
  height: 100vh;
}

body {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sleepwell-logo {
  height: auto;
  width: 400px;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  margin-top: 10px;
}

.input-form {
  margin: 10px;
}

#mode1-inputs {
  display: none;
  margin-top: 0;
  color: black;
}

.input-mode {
  background-color: #0ea7da;
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer !important;
}

#mode1-inputs {
  background-color: white;
  width: 100%;
  padding: 15px;
}

#mode1-container {
  margin-bottom: 0;
}

/* Remove circles next to mode input */
#mode1,
#mode2 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Remove arrow inside hours and minutes input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

#submit-container {
  padding: 15px 0;
}

#submit-button {
  font-family: Arial, sans-serif;
  font-size: 20px;
  padding: 15px;
  background-color: white;
  border: none;
  width: max-content;
  cursor: pointer;

  transition: all 0.2s ease-in;
}

#submit-button:hover {
  opacity: 0.75;
}


@media (max-width: 1050px) {

  #mode1-inputs {
    width: 80%;
  }

  .input-mode {
    width: 80%;
  }

  input {
    width: 30px;
  }
}

@media (max-width: 500px) {
  #sleepwell-logo {
    width: 300px;
  }
}